@font-face {
  font-family: 'Karate';
  src: url('Karate.otf');
}

body {

   background: linear-gradient(to bottom,#C23616, #00AA91) fixed;
   /* The fixed means that the gradient extends all the way to the bottom of the page */
    /* background-image: url("2020.png"); */
   background-size: 100%;
  /* background-position: center -4vw; */
   background-attachment:  scroll;
   background-repeat: no-repeat;
   height:265vw;
   margin:0;
   padding:0;
   color:#F1C40F;
}
#topBar{
width:100%;
height:15vw;
/* background-color:rgba(100,255,255,0.5); */
display: flex;
flex-direction: row;
align-items: center;
padding:0px;



}



#backArrow{
  vertical-align: top;

  margin-left: 7vw;
  margin-top:0vw;
  display: inline-block;
  /* color:black; */
  /* margin-left:auto;
  margin-right:auto; */
  /* background-color:rgba(255,0,255,0.5); */

  /* margin-bottom: 5vw; */
  width:10vw;
  height:15vw;
}

#backArrowShape{
  margin-top: 2.75vw;
 /* display: inline-block; */
width:0;
height:0;

  border-top: 5vw solid transparent;
border-bottom: 5vw solid transparent;
border-right:9vw solid #E74C3C;
/* learned to make triangle from https://css-tricks.com/snippets/css/css-triangle/ */
}


#yearTitle{
  display: inline-block;
text-align: center;
  /* background-color: rgba(0,0,255,0.5); */
  font-size:12vw;
/* color:black; */
font-family: Chakra Petch;
font-weight: bold;
width:29vw;
height:15vw;
margin-left: 18vw;
vertical-align: center;
margin-top: 0;
/* margin-top: -5vw; */
}

.statBar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* background-color: rgba(255,255,100,0.5); */
  width:100%;
  height:40vw;
}
.statCircle{
  vertical-align: top;
  height:35vw;
  width:35vw;
  margin-top: 0.5vw;
  margin-left: 9.5vw;
  border-radius: 50%;
  /* display: inline-block; */
  background-color: rgba(255,100,100,0.5);

}

.circleText{
/* display: inline-block; */
padding-top: 1vw;
width:35vw;
height:15vw;
/* background-color: rgba(255,50,100,0.5); */
text-align: center;
font-family: Chakra Petch;
font-weight: 600;
font-size:9vw;
margin-top: 28%;
margin-left: 0.1%;
}

.statText{
  font-size:5.15vw;
  line-height: 5.5vw;
  font-family:Montserrat;
  margin-left: 5vw;
  padding-top:5vw;
  /* vertical-align: top; */
  display: inline-block;
  height:33vw;
  width:39vw;
  /* background-color: rgba(10,100,100,0.5); */
}

.slideshowBar{
  margin-top: 2.8vw;
  animation: bgfade 25s infinite;
  background-size: cover;
  /* display: inline-block; */
  background-color: rgba(0,255,100,0.5);
  width:100%;
  height:55vw;
}

.infoBar{
  justify-content:center;
  /* margin-top: 2.8vw; */
  display: flex;
  flex-direction: row;
  background-color: rgba(10,100,100,0.5);
  width:100%;
  height:55vw;

}

.videoHolder{
    /* margin-top:14vw; */
    align-self: center;
    /* margin-left: 7.25vw; */
    height:19.8vw;
    width:35.25vw;
    background-color: black;
}

.infoText{
  /* vertical-align: top; */
  line-height: 3.5vw;
  font-size:3.25vw;
  font-family: Montserrat;
  display: inline-block;
  /* background-color: rgba(100,100,100,0.5); */
  margin-left: 7vw;
  margin-top: -4vw;
  /* margin-top:8vw; */
  align-self: center;
  height:25vw;
  width:45vw;
}

.profileBar{
  margin-top: 2.8vw;
  display: flex;
  flex-direction: row;
  /* background-color: rgba(10,200,100,0.5); */
  width:100%;
  height:55vw;

}

#profilePic{

margin:0;
margin-left:8vw;
margin-top: 9vw;
background-image:url("Setsuko.jpg");
background-position: -2vw 0;
background-size:105%;

}

.quoteBox{
  display: inline-block;
  width:55vw;
  height:55vw;
  /* background-color: rgba(100,200,100,0.5); */
}

.quoteMark{
margin-top: -1.5vw;

width:20vw;
height:18vw;
/* background-color:rgba(100,255,100,0.5); */
font-family: Montserrat;
font-weight:bold;
font-size:30vw;
}

.quoteText{
  font-family:Montserrat;
  font-size:3vw;
  width:40vw;
  height:23vw;
  /* background-color:rgba(50,50,255,0.5); */
  margin-left: auto;
  margin-right:auto;
  padding-left:4vw;
  padding-right:4vw;
}

.profilePicCaption{
  margin-top: 35vw;
  margin-left:-8vw;
  font-family: Chakra Petch;
  font-weight: 300;
  text-align: center;
  font-size:4vw;
  width:50vw;

}

#bottomRight{

  margin:0;
  margin-top: -5vw;
  margin-left: 35vw;

}

.subtitle{
  font-size:2vw;

}

.learnMoreBar{
  font-size:9.5vw;
  text-align: center;
  font-family:Montserrat;
  margin-top:5vw;
  display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
  /* background-color: rgba(10,200,100,0.5); */
  width:100%;
  height:25vw;
}

/* changes the colors of the hyperlinks */

a:link {
  color:#F1C40F;
  text-decoration:none;

}

a:visited {
color:#F1C40F;
  text-decoration: none;

 }

a:hover{
  text-decoration:underline;
  transition: 0.5s ;
  color:#E74C3C;


}

@keyframes bgfade{
  /* learned how to fade backgrounds from http://v3.danielmall.com/articles/responsive-line-breaks/ */

  0%{
    background-image:url("japaneseinternment1.jpg");
  }
  25%{
    background-image:url("japaneseinternment2.jpg");
  }
  50%{
    background-image:url("japaneseinternment3.jpg");
  }
  75%{
    background-image:url("japaneseinternment4.jpg");

  }
  100%{
    background-image:url("japaneseinternment1.jpg");

  }
}
